 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <p> <big>Hi! I'm Shane.</big> I'm a software engineer by training, but spend my days doing that and so much more. I lead trips around the world, introduce students to STEM and, more recently, figure out how to get kids interested in entrepreneurship. I was born in South Africa, but have grown up in the Boston area. I like to launch weather balloons, play ultimate frisbee, travel and read as much of Wikipedia as I can. </p>
                </div>
                <div>
                    <p> <big>My Work:</big> Currently, I am running a company called <a id="about_link" class="portfolio-link" data-toggle="modal" href="#portfolioModal-3">Launch Edu</a>. We aim to engage and empower students from all backgrounds by equipping them with the skills necessary to start and run their own profitable businesses. Previously, I've worked at everything from tech giants to 2 person startups. I've added my (tiny) piece to Facebook's Newsfeed and designed a curriculum to introduce children to engineering and robotics in a museum setting. My experiences are linked by a desire to dive in and understand how human beings, in all our complexity, interact with and understand technology. With that as my driving force, I'm able to approach my engineering challenges with a unique lens. </p>
                </div>
                <div >
                    <p> <big>My Education:</big> I attended <a id="about_link" href="https://www.olin.edu">Olin College of Engineering</a> (a tiny, awesome engineering school in Boston). I graduated with a BS in Electrical and Computer Engineering and a minor in Human Decision Making. Olin's project-based curriculum allowed me to try a little bit of everything, as you can see in my previous section. I was able to classes in everything from Game Theory and Negotiations to Computational Robotics and Computer Architecture. I designed an app to help seniors age-in-place and built a calligraphy writing machine, and helped a rural Mississippi community design a STEM learning space.  </p>
                </div>
            </div>
        </div>
    </section>